*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


@media screen and (min-width: 768px) and (max-width: 992px){
  
  .container{
    width: 79vw;
  }
  header{
    display: flex;
    justify-content: center;
  }
  header h1 {
  font-size: 3em;
  padding-top: 50px;
  padding-left: 30px;
  }
  header img {
    width: 70px;
    height: 70px;
    margin-top: 50px;
  }
  form{
  display: inline;
  }
  form input, form
button {
  text-align: center;
padding: 25px;
width: 23%;
height: 77px;
  }
  td, th{
    font-size: 1.5em;

  }
  footer{
    font-size: 0.9em;
  }
}
@media screen and (min-width: 992px) {
  .container{
    width: 992px;
  }
  header{
    display: flex;
    justify-content: center;
  }
  header h1 {
    font-size: 3.5em;
  padding-top: 50px;
  padding-left: 30px;
  }
  header img {
    width: 70px;
    height: 70px;
    margin-top: 50px;
  }
  form{
    display: inline;
    }
    form input,
  button{
  text-align: center;
  padding: 30px;
  width: 23%;
  height: 79px;
  
  
    }
    td, th{
      font-size: 2em;

    }
    footer{
      font-size: 1em;
    }
}


