*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


@media screen and (min-width: 768px) and (max-width: 992px){
  body{
    height: 100vh;
  }
  .container{
    width: 79vw;
  }
  header{
    display: flex;
    justify-content: center;
  }
  header h1 {
  font-size: 3em;
  padding-top: 50px;
  padding-left: 30px;
  }
  header img {
    width: 70px;
    height: 70px;
    margin-top: 50px;
  }
  form{
  display: inline;
  }
  form input,
button {
  text-align: center;
padding: 20px;
width: 22%;
height: 67px;
  }
}
@media screen and (min-width: 992px) {
  .container{
    width: 992px;
  }
  header{
    display: flex;
    justify-content: center;
  }
  header h1 {
    font-size: 3.5em;
  padding-top: 50px;
  padding-left: 30px;
  }
  header img {
    width: 70px;
    height: 70px;
    margin-top: 50px;
  }
  form{
    display: inline;
    }
    form input,
  button {
    text-align: center;
    padding: 25px;
  width: 23%;
  max-height: 69px;
    }
}


