@charset "UTF-8"; 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Definindo tamanho da fonte em relação ao tamanho do dispositivo */
html, body{
  width: 100vw;
  min-height: 100vh;
}

/* Estilos para header */
header {
  padding-top: 20px;
  text-align: center;
  color:white;
}

header h1 {
  padding-bottom: 10px;
  font-family: 'Concert One', cursive;
  font-size: 2.5em;
  
}

header img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Estilos para container */
.container {
  width:100%;
  margin: auto;
  padding:20px;
  text-align: justify;
  transition: width .3s ease, height .3s ease;
}

/* Estilos para formulário */
#form {
  width: 90vw;
  margin: auto;

}
form input,
button {
  background-color: white;
  outline: 0px;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border:none ;
  
  font-size: 1.2rem;
}
  
button{
  background-color:rgba(39, 168, 168, 0.975) ;
  color: white;
  font-size: 20px;
  
}
button:hover{
  background-color: cyan;
}
/* Estilos para ttabela*/
table{
  
  width: 90vw;
  margin: auto;
  padding: 16px;
  padding-bottom: ;
  color: white;
}
td,th{
  width: 33%;
  font-size: 0.8em;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid gray;

}
th{
  justify-content: center;
  font-family: 'Concert One', cursive;
}
/*Estilos do rodapé */

footer{
  font-family: 'Concert One', cursive;
  padding: 30 0;
}
footer p{
  width: 100%;
  font-size: 0.8em;
  font-size: 1em;
  padding: 15px;
  
  color:white;
  text-align: center;
}
.t{
  font-family: 'Concert One', cursive;
}
#QuantidadeNome{
  color: white;
}
.erro {
border: red;
}
